body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #e1f6f4;
}

.Calculator {
  padding: 5px;
  background-color: black;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 30% 70%;
  width: 100%;
  height: 100%;
  max-width: 500px;
  border-radius: 10px;

}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  background-color: black;
}

button {
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: rgb(30, 29, 29);
  font-weight: bold;
  border-radius: 8px;
  color: white;
  transition: transform 0.1s ease;

}


button.clicked {
  transform: scale(0.95);
  background-color: #ccc; /* Background color when button is clicked */
}

button:hover {
  background-color: #e0e0e0;
}

.display {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 5px;
  background-color: white;
  position: relative;
  padding: 0;
}

p {
  margin: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: right;
  font-weight: 700;
  overflow: hidden;
  font-size: 1.9rem;
}

@media (max-width: 767px) {
  .Calculator {
    width: 90%;
    height: 65%;
  }

  p {
    font-size: 1.2rem;

  }
}

/* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .Calculator {
    width: 50%;
    height: 65%;
  }
}


/* For screens larger than 992px */
@media (min-width: 992px) {
  .Calculator {
    width: 40%;
    height: 80%;
  }
}