body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vb;  
    background-color: #e1f6f4;
}
.Calculator {
    padding: 5px;
   background-color: black;
   border: 1px solid black;
   width: 100%;
   height: 100%;
   max-width: 500px;
   border-radius: 10px;
   
  }
  @media (max-width: 767px) {
      .Calculator {
        width: 80%;
        height: 40%;
      }
    }
/* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .Calculator {
    width: 50%;
    height: 50%;
  }
}

  
  /* For screens larger than 992px */
  @media (min-width: 992px) {
    .Calculator {
      width: 40%;
      /* height: 50%; */
    }
  }

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    background-color: black;
    height: 68%;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color:rgb(30, 29, 29);
    font-weight: bold;
    border-radius: 8px;
    color: white;

}

button:hover {
    background-color: #e0e0e0;
}

.display {
    border: 1px solid black;
    width: 100%;
    height: 30%;
    margin-bottom: 5px;
    background-color: white;
    position: relative;
    padding: 0;
}
p{
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap:break-word ;
    text-align:right;
    font-weight: 700;
    font-size: 1.9rem;
}
